.Container{
    background-color: rgb(151, 207, 163) ;
    width: 100%;
}

.cardsContainer{
    background-image: url('../../Images/backgroundHome.jpg');
    background-repeat:no-repeat;
    background-size:cover;
    background-attachment: fixed;
    width:100vw;
    height: auto;
    min-height: 600px;

}
.pagination{
    color: black;
}
.controlPanel{
    background-color: rgb(251, 233, 185);
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
}
.searchbox{
    width: 200px;
    height: 30px;
    border-radius: 10px;
    cursor: pointer;
    margin-right: 15px;
    font-size: 16px;
}

.searchForm{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}

.SearchName{
    width: 20%;
    padding-left: 5%;
    padding-right: 3%;
}

.textos{
    color: black !important;
    font-size: 20px;
    font-weight: 700;
}
.filtersBar{

    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.filtersBar div{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.filters{
    display: flex;
}

.filters select{
    width: 160px;    
    height: 30px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 15px;
}


.tituloFilter{
    color: wheat !important;
    font-size: 50px;
}

