.landingContainer{
    background-image: url('../../Images/landing.jpg');
    background-repeat:no-repeat;
    background-size:cover;
    background-attachment: fixed;
    width:100vw;
    height:100vh;
    display: flex;
}

.startingButton{
    font-size: xx-large;
    margin: auto;
    padding-bottom: 10px;
    text-decoration: none;
    color: black;
    font-weight: 700;
}

.buttonContainer{
    position: absolute;
    left: 100px;
    top: 350px;
    height: 70px;
    width: 200px;
    display: flex;
    background-color: rgb(219, 233, 29);
    border-radius: 15px;
}

.pokepedia{ 
    height: 400px;
    width: 1000px;
    position: absolute;
    margin-left: 33%;
    background-image: url('../../Images/landinglogo.png');
    background-repeat: no-repeat;
}